Services/trunk/Yahoo.Panama/Web References/PanamaReportServiceV4/BasicReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://schemas.xmlsoap.org/ws/2002/07/secext" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://marketing.ews.yahooapis.com/V4" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://marketing.ews.yahooapis.com/V4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://marketing.ews.yahooapis.com/V4">
      <xsd:annotation>
        <xsd:appinfo>
          <tns:version>4.3.0</tns:version>
        </xsd:appinfo>
      </xsd:annotation>
      <xsd:element name="commandGroup">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="license">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="masterAccountID">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="quotaUsedForThisRequest">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="remainingQuota">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="timeTakenMillis">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ApiFault" type="tns:ApiFault" />
      <xsd:element name="addReportRequestForAccountID">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="accountID" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="reportRequest" nillable="true" type="tns:BasicReportRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addReportRequestForAccountIDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addReportRequestWithAccountAggregation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reportRequest" nillable="true" type="tns:BasicReportRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addReportRequestWithAccountAggregationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reportID" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteReportResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="deleteReports">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reportIDs" nillable="true" type="tns:ArrayOfLong" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteReportsResponse">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getReportList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="onlyCompleted" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportListResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ArrayOfReportInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportOutputUrl">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reportID" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="fileFormat" nillable="true" type="tns:FileOutputFormat" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportOutputUrlResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportOutputUrls">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reportIDs" nillable="true" type="tns:ArrayOfLong" />
            <xsd:element minOccurs="1" maxOccurs="1" name="fileFormat" nillable="true" type="tns:FileOutputFormat" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportOutputUrlsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ArrayOfString" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isBooksClosed">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="reportRequest" nillable="true" type="tns:BasicReportRequest" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="isBooksClosedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="onBehalfOfPassword">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="onBehalfOfUsername">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string" />
        </xsd:simpleType>
      </xsd:element>
      <xsd:simpleType name="BasicReportType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AdSummaryByDay" />
          <xsd:enumeration value="MultiChannelCampaignByDay" />
          <xsd:enumeration value="CampaignSummaryByDay" />
          <xsd:enumeration value="MultiChannelAccountByDay" />
          <xsd:enumeration value="AdvancedAdPerformanceByDay" />
          <xsd:enumeration value="AdSummary" />
          <xsd:enumeration value="AdvancedAdPerformance" />
          <xsd:enumeration value="AdGroupSummaryByDay" />
          <xsd:enumeration value="AdGroupSummary" />
          <xsd:enumeration value="AccountSummary" />
          <xsd:enumeration value="MultiChannelAccount" />
          <xsd:enumeration value="MultiChannelAdGroup" />
          <xsd:enumeration value="AdvancedAdKeywordPerformance" />
          <xsd:enumeration value="MultiChannelMarketingActivity" />
          <xsd:enumeration value="MultiChannelMarketingActivityByDay" />
          <xsd:enumeration value="DailySummary" />
          <xsd:enumeration value="MultiChannelDaily" />
          <xsd:enumeration value="KeywordSummary" />
          <xsd:enumeration value="AdKeywordSummary" />
          <xsd:enumeration value="CampaignSummary" />
          <xsd:enumeration value="MultiChannelCampaign" />
          <xsd:enumeration value="AdvancedAdKeywordPerformanceByDay" />
          <xsd:enumeration value="KeywordSummaryByDay" />
          <xsd:enumeration value="AdKeywordSummaryByDay" />
          <xsd:enumeration value="BillingTransactionDetail" />
          <xsd:enumeration value="AccountSummaryByDay" />
          <xsd:enumeration value="MultiChannelAdGroupByDay" />
          <xsd:enumeration value="GeoLocationSummary" />
          <xsd:enumeration value="GeoLocationSummaryByDay" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="DateRange">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Last30Days" />
          <xsd:enumeration value="LastCalendarWeek" />
          <xsd:enumeration value="MonthToDate" />
          <xsd:enumeration value="Yesterday" />
          <xsd:enumeration value="YearToDate" />
          <xsd:enumeration value="LastBusinessWeek" />
          <xsd:enumeration value="Last7Days" />
          <xsd:enumeration value="LastCalendarMonth" />
          <xsd:enumeration value="LastCalendarQuarter" />
          <xsd:enumeration value="WeekToDate" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="FileOutputType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CSV" />
          <xsd:enumeration value="XML" />
          <xsd:enumeration value="TSV" />
          <xsd:enumeration value="CSV_EXCEL" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ApiFault">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfLong">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="long" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfReportInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ReportInfo" nillable="true" type="tns:ReportInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BasicReportRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="dateRange" nillable="true" type="tns:DateRange" />
          <xsd:element minOccurs="0" name="endDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="reportName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="reportType" nillable="true" type="tns:BasicReportType" />
          <xsd:element minOccurs="0" name="startDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FileOutputFormat">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="fileOutputType" nillable="true" type="tns:FileOutputType" />
          <xsd:element minOccurs="0" name="zipped" nillable="true" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="createDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="reportID" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="reportName" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="status" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.xmlsoap.org/ws/2002/07/secext">
      <xsd:element name="Security" type="wsse:Security" />
      <xsd:complexType name="Security">
        <xsd:sequence>
          <xsd:element name="UsernameToken" type="wsse:UsernameToken" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="UsernameToken">
        <xsd:sequence>
          <xsd:element name="Username" type="xsd:string" />
          <xsd:element name="Password" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ApiFault">
    <wsdl:part name="ApiFault" element="tns:ApiFault" />
  </wsdl:message>
  <wsdl:message name="Security">
    <wsdl:part name="Security" element="wsse:Security" />
  </wsdl:message>
  <wsdl:message name="addReportRequestForAccountIDRequest">
    <wsdl:part name="parameters" element="tns:addReportRequestForAccountID" />
  </wsdl:message>
  <wsdl:message name="addReportRequestForAccountIDResponse">
    <wsdl:part name="parameters" element="tns:addReportRequestForAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="addReportRequestWithAccountAggregationRequest">
    <wsdl:part name="parameters" element="tns:addReportRequestWithAccountAggregation" />
  </wsdl:message>
  <wsdl:message name="addReportRequestWithAccountAggregationResponse">
    <wsdl:part name="parameters" element="tns:addReportRequestWithAccountAggregationResponse" />
  </wsdl:message>
  <wsdl:message name="commandGroup">
    <wsdl:part name="commandGroup" element="tns:commandGroup" />
  </wsdl:message>
  <wsdl:message name="deleteReportRequest">
    <wsdl:part name="parameters" element="tns:deleteReport" />
  </wsdl:message>
  <wsdl:message name="deleteReportResponse">
    <wsdl:part name="parameters" element="tns:deleteReportResponse" />
  </wsdl:message>
  <wsdl:message name="deleteReportsRequest">
    <wsdl:part name="parameters" element="tns:deleteReports" />
  </wsdl:message>
  <wsdl:message name="deleteReportsResponse">
    <wsdl:part name="parameters" element="tns:deleteReportsResponse" />
  </wsdl:message>
  <wsdl:message name="getReportListRequest">
    <wsdl:part name="parameters" element="tns:getReportList" />
  </wsdl:message>
  <wsdl:message name="getReportListResponse">
    <wsdl:part name="parameters" element="tns:getReportListResponse" />
  </wsdl:message>
  <wsdl:message name="getReportOutputUrlRequest">
    <wsdl:part name="parameters" element="tns:getReportOutputUrl" />
  </wsdl:message>
  <wsdl:message name="getReportOutputUrlResponse">
    <wsdl:part name="parameters" element="tns:getReportOutputUrlResponse" />
  </wsdl:message>
  <wsdl:message name="getReportOutputUrlsRequest">
    <wsdl:part name="parameters" element="tns:getReportOutputUrls" />
  </wsdl:message>
  <wsdl:message name="getReportOutputUrlsResponse">
    <wsdl:part name="parameters" element="tns:getReportOutputUrlsResponse" />
  </wsdl:message>
  <wsdl:message name="isBooksClosedRequest">
    <wsdl:part name="parameters" element="tns:isBooksClosed" />
  </wsdl:message>
  <wsdl:message name="isBooksClosedResponse">
    <wsdl:part name="parameters" element="tns:isBooksClosedResponse" />
  </wsdl:message>
  <wsdl:message name="license">
    <wsdl:part name="license" element="tns:license" />
  </wsdl:message>
  <wsdl:message name="masterAccountID">
    <wsdl:part name="masterAccountID" element="tns:masterAccountID" />
  </wsdl:message>
  <wsdl:message name="onBehalfOfPassword">
    <wsdl:part name="onBehalfOfPassword" element="tns:onBehalfOfPassword" />
  </wsdl:message>
  <wsdl:message name="onBehalfOfUsername">
    <wsdl:part name="onBehalfOfUsername" element="tns:onBehalfOfUsername" />
  </wsdl:message>
  <wsdl:message name="quotaUsedForThisRequest">
    <wsdl:part name="quotaUsedForThisRequest" element="tns:quotaUsedForThisRequest" />
  </wsdl:message>
  <wsdl:message name="remainingQuota">
    <wsdl:part name="remainingQuota" element="tns:remainingQuota" />
  </wsdl:message>
  <wsdl:message name="timeTakenMillis">
    <wsdl:part name="timeTakenMillis" element="tns:timeTakenMillis" />
  </wsdl:message>
  <wsdl:portType name="BasicReportService">
    <wsdl:operation name="addReportRequestForAccountID">
      <wsdl:input name="addReportRequestForAccountIDRequest" message="tns:addReportRequestForAccountIDRequest" />
      <wsdl:output name="addReportRequestForAccountIDResponse" message="tns:addReportRequestForAccountIDResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="addReportRequestWithAccountAggregation">
      <wsdl:input name="addReportRequestWithAccountAggregationRequest" message="tns:addReportRequestWithAccountAggregationRequest" />
      <wsdl:output name="addReportRequestWithAccountAggregationResponse" message="tns:addReportRequestWithAccountAggregationResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="deleteReport">
      <wsdl:input name="deleteReportRequest" message="tns:deleteReportRequest" />
      <wsdl:output name="deleteReportResponse" message="tns:deleteReportResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="deleteReports">
      <wsdl:input name="deleteReportsRequest" message="tns:deleteReportsRequest" />
      <wsdl:output name="deleteReportsResponse" message="tns:deleteReportsResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="getReportList">
      <wsdl:input name="getReportListRequest" message="tns:getReportListRequest" />
      <wsdl:output name="getReportListResponse" message="tns:getReportListResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="getReportOutputUrl">
      <wsdl:input name="getReportOutputUrlRequest" message="tns:getReportOutputUrlRequest" />
      <wsdl:output name="getReportOutputUrlResponse" message="tns:getReportOutputUrlResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="getReportOutputUrls">
      <wsdl:input name="getReportOutputUrlsRequest" message="tns:getReportOutputUrlsRequest" />
      <wsdl:output name="getReportOutputUrlsResponse" message="tns:getReportOutputUrlsResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
    <wsdl:operation name="isBooksClosed">
      <wsdl:input name="isBooksClosedRequest" message="tns:isBooksClosedRequest" />
      <wsdl:output name="isBooksClosedResponse" message="tns:isBooksClosedResponse" />
      <wsdl:fault name="ApiFault" message="tns:ApiFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicReportServiceHttpBinding" type="tns:BasicReportService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addReportRequestForAccountID">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addReportRequestForAccountIDRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="addReportRequestForAccountIDResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addReportRequestWithAccountAggregation">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addReportRequestWithAccountAggregationRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="addReportRequestWithAccountAggregationResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteReport">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteReportRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteReportResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteReports">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteReportsRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteReportsResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getReportListRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportListResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportOutputUrl">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getReportOutputUrlRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportOutputUrlResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getReportOutputUrls">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getReportOutputUrlsRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="getReportOutputUrlsResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="isBooksClosed">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="isBooksClosedRequest">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfUsername" part="onBehalfOfUsername" use="literal" />
        <wsdlsoap:header message="tns:onBehalfOfPassword" part="onBehalfOfPassword" use="literal" />
        <wsdlsoap:header message="tns:masterAccountID" part="masterAccountID" use="literal" />
        <wsdlsoap:header message="tns:license" part="license" use="literal" />
        <wsdlsoap:header message="tns:Security" part="Security" use="literal" />
      </wsdl:input>
      <wsdl:output name="isBooksClosedResponse">
        <wsdlsoap:body use="literal" />
        <wsdlsoap:header message="tns:commandGroup" part="commandGroup" use="literal" />
        <wsdlsoap:header message="tns:remainingQuota" part="remainingQuota" use="literal" />
        <wsdlsoap:header message="tns:quotaUsedForThisRequest" part="quotaUsedForThisRequest" use="literal" />
        <wsdlsoap:header message="tns:timeTakenMillis" part="timeTakenMillis" use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApiFault">
        <wsdlsoap:fault use="literal" name="ApiFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicReportServiceService">
    <wsdl:port name="BasicReportService" binding="tns:BasicReportServiceHttpBinding">
      <wsdlsoap:address location="https://USE_ADDRESS_RETURNED_BY_LOCATION_SERVICE/services/V4/BasicReportService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>