Services/trunk/Services.Bing/Service References/ReportingService/ReportingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://adcenter.microsoft.com/v6" elementFormDefault="qualified" targetNamespace="https://adcenter.microsoft.com/v6" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V6/Reporting/ReportingService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V6/Reporting/ReportingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://adcenterapi.microsoft.com/Api/Advertiser/V6/Reporting/ReportingService.svc?xsd=xsd3" namespace="https://adapi.microsoft.com" />
  <xs:element name="SubmitGenerateReportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportRequest" nillable="true" type="tns:ReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReportRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Format" nillable="true" type="tns:ReportFormat" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:ReportLanguage" />
      <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnOnlyCompleteData" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportRequest" nillable="true" type="tns:ReportRequest" />
  <xs:simpleType name="ReportFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Csv" />
      <xs:enumeration value="Tsv" />
      <xs:enumeration value="Xml" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportFormat" nillable="true" type="tns:ReportFormat" />
  <xs:simpleType name="ReportLanguage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English" />
      <xs:enumeration value="French" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportLanguage" nillable="true" type="tns:ReportLanguage" />
  <xs:complexType name="BudgetSummaryReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfBudgetSummaryReportColumn" />
          <xs:element name="Scope" nillable="true" type="tns:AccountReportScope" />
          <xs:element name="Time" nillable="true" type="tns:BudgetSummaryReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BudgetSummaryReportRequest" nillable="true" type="tns:BudgetSummaryReportRequest" />
  <xs:complexType name="ArrayOfBudgetSummaryReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BudgetSummaryReportColumn" type="tns:BudgetSummaryReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBudgetSummaryReportColumn" nillable="true" type="tns:ArrayOfBudgetSummaryReportColumn" />
  <xs:simpleType name="BudgetSummaryReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="Date" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="ParticipationRate" />
      <xs:enumeration value="MonthlyBudget" />
      <xs:enumeration value="DailySpend" />
      <xs:enumeration value="MonthToDateSpend" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BudgetSummaryReportColumn" nillable="true" type="tns:BudgetSummaryReportColumn" />
  <xs:complexType name="AccountReportScope">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AccountIds" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountReportScope" nillable="true" type="tns:AccountReportScope" />
  <xs:complexType name="BudgetSummaryReportTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomDateRangeEnd" nillable="true" type="tns:Date" />
      <xs:element minOccurs="0" name="CustomDateRangeStart" nillable="true" type="tns:Date" />
      <xs:element minOccurs="0" name="CustomDates" nillable="true" type="tns:ArrayOfDate" />
      <xs:element minOccurs="0" name="PredefinedTime" nillable="true" type="tns:BudgetSummaryReportTimePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BudgetSummaryReportTime" nillable="true" type="tns:BudgetSummaryReportTime" />
  <xs:complexType name="Date">
    <xs:sequence>
      <xs:element name="Day" type="xs:int" />
      <xs:element name="Month" type="xs:int" />
      <xs:element name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Date" nillable="true" type="tns:Date" />
  <xs:complexType name="ArrayOfDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Date" nillable="true" type="tns:Date" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDate" nillable="true" type="tns:ArrayOfDate" />
  <xs:simpleType name="BudgetSummaryReportTimePeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Today" />
      <xs:enumeration value="Yesterday" />
      <xs:enumeration value="LastSevenDays" />
      <xs:enumeration value="ThisMonth" />
      <xs:enumeration value="LastMonth" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BudgetSummaryReportTimePeriod" nillable="true" type="tns:BudgetSummaryReportTimePeriod" />
  <xs:complexType name="PublisherUsagePerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfPublisherUsagePerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:PublisherUsagePerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PublisherUsagePerformanceReportRequest" nillable="true" type="tns:PublisherUsagePerformanceReportRequest" />
  <xs:simpleType name="NonHourlyReportAggregation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Summary" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
      <xs:enumeration value="Yearly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NonHourlyReportAggregation" nillable="true" type="tns:NonHourlyReportAggregation" />
  <xs:complexType name="ArrayOfPublisherUsagePerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublisherUsagePerformanceReportColumn" type="tns:PublisherUsagePerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublisherUsagePerformanceReportColumn" nillable="true" type="tns:ArrayOfPublisherUsagePerformanceReportColumn" />
  <xs:simpleType name="PublisherUsagePerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="PublisherUrl" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PublisherUsagePerformanceReportColumn" nillable="true" type="tns:PublisherUsagePerformanceReportColumn" />
  <xs:complexType name="PublisherUsagePerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublisherUsagePerformanceReportFilter" nillable="true" type="tns:PublisherUsagePerformanceReportFilter" />
  <xs:simpleType name="AdDistributionReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Search" />
          <xs:enumeration value="Content" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AdDistributionReportFilter" nillable="true" type="tns:AdDistributionReportFilter" />
  <xs:simpleType name="LanguageAndRegionReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="EnglishCanada" />
          <xs:enumeration value="FrenchCanada" />
          <xs:enumeration value="France" />
          <xs:enumeration value="Singapore" />
          <xs:enumeration value="UnitedKingdom" />
          <xs:enumeration value="UnitedStates" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="LanguageAndRegionReportFilter" nillable="true" type="tns:LanguageAndRegionReportFilter" />
  <xs:complexType name="AccountThroughAdGroupReportScope">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AccountIds" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="AdGroups" nillable="true" type="tns:ArrayOfAdGroupReportScope" />
      <xs:element minOccurs="0" name="Campaigns" nillable="true" type="tns:ArrayOfCampaignReportScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountThroughAdGroupReportScope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
  <xs:complexType name="ArrayOfAdGroupReportScope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdGroupReportScope" nillable="true" type="tns:AdGroupReportScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdGroupReportScope" nillable="true" type="tns:ArrayOfAdGroupReportScope" />
  <xs:complexType name="AdGroupReportScope">
    <xs:sequence>
      <xs:element name="ParentAccountId" type="xs:int" />
      <xs:element name="ParentCampaignId" type="xs:int" />
      <xs:element name="AdGroupId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdGroupReportScope" nillable="true" type="tns:AdGroupReportScope" />
  <xs:complexType name="ArrayOfCampaignReportScope">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampaignReportScope" nillable="true" type="tns:CampaignReportScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaignReportScope" nillable="true" type="tns:ArrayOfCampaignReportScope" />
  <xs:complexType name="CampaignReportScope">
    <xs:sequence>
      <xs:element name="ParentAccountId" type="xs:int" />
      <xs:element name="CampaignId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaignReportScope" nillable="true" type="tns:CampaignReportScope" />
  <xs:complexType name="ReportTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomDateRangeEnd" nillable="true" type="tns:Date" />
      <xs:element minOccurs="0" name="CustomDateRangeStart" nillable="true" type="tns:Date" />
      <xs:element minOccurs="0" name="CustomDates" nillable="true" type="tns:ArrayOfDate" />
      <xs:element minOccurs="0" name="PredefinedTime" nillable="true" type="tns:ReportTimePeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportTime" nillable="true" type="tns:ReportTime" />
  <xs:simpleType name="ReportTimePeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Today" />
      <xs:enumeration value="Yesterday" />
      <xs:enumeration value="LastSevenDays" />
      <xs:enumeration value="ThisWeek" />
      <xs:enumeration value="LastWeek" />
      <xs:enumeration value="LastFourWeeks" />
      <xs:enumeration value="ThisMonth" />
      <xs:enumeration value="LastMonth" />
      <xs:enumeration value="LastThreeMonths" />
      <xs:enumeration value="LastSixMonths" />
      <xs:enumeration value="ThisYear" />
      <xs:enumeration value="LastYear" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportTimePeriod" nillable="true" type="tns:ReportTimePeriod" />
  <xs:complexType name="SitePerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:ReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfSitePerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:SitePerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SitePerformanceReportRequest" nillable="true" type="tns:SitePerformanceReportRequest" />
  <xs:simpleType name="ReportAggregation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Summary" />
      <xs:enumeration value="Hourly" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
      <xs:enumeration value="Yearly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportAggregation" nillable="true" type="tns:ReportAggregation" />
  <xs:complexType name="ArrayOfSitePerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SitePerformanceReportColumn" type="tns:SitePerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSitePerformanceReportColumn" nillable="true" type="tns:ArrayOfSitePerformanceReportColumn" />
  <xs:simpleType name="SitePerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Site" />
      <xs:enumeration value="SiteId" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="DestinationUrl" />
      <xs:enumeration value="CurrentMaxCpc" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="MatchType" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AdType" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SitePerformanceReportColumn" nillable="true" type="tns:SitePerformanceReportColumn" />
  <xs:complexType name="SitePerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="tns:AdTypeReportFilter" />
      <xs:element minOccurs="0" name="DeliveredMatchType" nillable="true" type="tns:DeliveredMatchTypeReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SiteIds" nillable="true" type="q3:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SitePerformanceReportFilter" nillable="true" type="tns:SitePerformanceReportFilter" />
  <xs:simpleType name="AdTypeReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Text" />
          <xs:enumeration value="Mobile" />
          <xs:enumeration value="Image" />
          <xs:enumeration value="RichMedia" />
          <xs:enumeration value="ThirdPartyCreative" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AdTypeReportFilter" nillable="true" type="tns:AdTypeReportFilter" />
  <xs:simpleType name="DeliveredMatchTypeReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Exact" />
          <xs:enumeration value="Phrase" />
          <xs:enumeration value="Broad" />
          <xs:enumeration value="Content" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="DeliveredMatchTypeReportFilter" nillable="true" type="tns:DeliveredMatchTypeReportFilter" />
  <xs:complexType name="SearchQueryPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:SearchQueryReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfSearchQueryPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:SearchQueryPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SearchQueryPerformanceReportRequest" nillable="true" type="tns:SearchQueryPerformanceReportRequest" />
  <xs:simpleType name="SearchQueryReportAggregation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Summary" />
      <xs:enumeration value="Hourly" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchQueryReportAggregation" nillable="true" type="tns:SearchQueryReportAggregation" />
  <xs:complexType name="ArrayOfSearchQueryPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchQueryPerformanceReportColumn" type="tns:SearchQueryPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchQueryPerformanceReportColumn" nillable="true" type="tns:ArrayOfSearchQueryPerformanceReportColumn" />
  <xs:simpleType name="SearchQueryPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="AdType" />
      <xs:enumeration value="DestinationUrl" />
      <xs:enumeration value="MatchType" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignStatus" />
      <xs:enumeration value="AdStatus" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="SearchQuery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchQueryPerformanceReportColumn" nillable="true" type="tns:SearchQueryPerformanceReportColumn" />
  <xs:complexType name="SearchQueryPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdStatus" nillable="true" type="tns:AdStatusReportFilter" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="tns:AdTypeReportFilter" />
      <xs:element minOccurs="0" name="CampaignStatus" nillable="true" type="tns:CampaignStatusReportFilter" />
      <xs:element minOccurs="0" name="DeliveredMatchType" nillable="true" type="tns:DeliveredMatchTypeReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchQueries" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchQueryPerformanceReportFilter" nillable="true" type="tns:SearchQueryPerformanceReportFilter" />
  <xs:simpleType name="AdStatusReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Submitted" />
          <xs:enumeration value="Rejected" />
          <xs:enumeration value="Deleted" />
          <xs:enumeration value="Pending" />
          <xs:enumeration value="Active">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AdStatusReportFilter" nillable="true" type="tns:AdStatusReportFilter" />
  <xs:simpleType name="CampaignStatusReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Submitted" />
          <xs:enumeration value="Cancelled" />
          <xs:enumeration value="Deleted" />
          <xs:enumeration value="Paused" />
          <xs:enumeration value="BudgetPaused" />
          <xs:enumeration value="Active">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="CampaignStatusReportFilter" nillable="true" type="tns:CampaignStatusReportFilter" />
  <xs:complexType name="ConversionPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfConversionPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:ConversionPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConversionPerformanceReportRequest" nillable="true" type="tns:ConversionPerformanceReportRequest" />
  <xs:complexType name="ArrayOfConversionPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConversionPerformanceReportColumn" type="tns:ConversionPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConversionPerformanceReportColumn" nillable="true" type="tns:ArrayOfConversionPerformanceReportColumn" />
  <xs:simpleType name="ConversionPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Keyword" />
      <xs:enumeration value="KeywordId" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="Assists" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="ExtendedCost" />
      <xs:enumeration value="Revenue" />
      <xs:enumeration value="ReturnOnAdSpend" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="CostPerAssist" />
      <xs:enumeration value="RevenuePerConversion" />
      <xs:enumeration value="RevenuePerAssist" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConversionPerformanceReportColumn" nillable="true" type="tns:ConversionPerformanceReportColumn" />
  <xs:complexType name="ConversionPerformanceReportFilter">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keywords" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionPerformanceReportFilter" nillable="true" type="tns:ConversionPerformanceReportFilter" />
  <xs:complexType name="MetroAreaDemographicReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfMetroAreaDemographicReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:MetroAreaDemographicReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MetroAreaDemographicReportRequest" nillable="true" type="tns:MetroAreaDemographicReportRequest" />
  <xs:complexType name="ArrayOfMetroAreaDemographicReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetroAreaDemographicReportColumn" type="tns:MetroAreaDemographicReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetroAreaDemographicReportColumn" nillable="true" type="tns:ArrayOfMetroAreaDemographicReportColumn" />
  <xs:simpleType name="MetroAreaDemographicReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="Country" />
      <xs:enumeration value="State" />
      <xs:enumeration value="MetroArea" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="Hour" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="AverageCpm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MetroAreaDemographicReportColumn" nillable="true" type="tns:MetroAreaDemographicReportColumn" />
  <xs:complexType name="MetroAreaDemographicReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetroAreaDemographicReportFilter" nillable="true" type="tns:MetroAreaDemographicReportFilter" />
  <xs:simpleType name="CountryReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Canada" />
          <xs:enumeration value="France" />
          <xs:enumeration value="Singapore" />
          <xs:enumeration value="UnitedKingdom" />
          <xs:enumeration value="UnitedStates" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="CountryReportFilter" nillable="true" type="tns:CountryReportFilter" />
  <xs:complexType name="AccountPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:ReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfAccountPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:AccountPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountPerformanceReportRequest" nillable="true" type="tns:AccountPerformanceReportRequest" />
  <xs:complexType name="ArrayOfAccountPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountPerformanceReportColumn" type="tns:AccountPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountPerformanceReportColumn" nillable="true" type="tns:ArrayOfAccountPerformanceReportColumn" />
  <xs:simpleType name="AccountPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="LowQualityClicks" />
      <xs:enumeration value="LowQualityClicksPercent" />
      <xs:enumeration value="LowQualityImpressions" />
      <xs:enumeration value="LowQualityImpressionsPercent" />
      <xs:enumeration value="LowQualityConversions" />
      <xs:enumeration value="LowQualityConversionRate" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="DeviceType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountPerformanceReportColumn" nillable="true" type="tns:AccountPerformanceReportColumn" />
  <xs:complexType name="AccountPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="tns:DeviceTypeReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountPerformanceReportFilter" nillable="true" type="tns:AccountPerformanceReportFilter" />
  <xs:simpleType name="DeviceTypeReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Computer" />
          <xs:enumeration value="SmartPhone" />
          <xs:enumeration value="NonSmartPhone" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="DeviceTypeReportFilter" nillable="true" type="tns:DeviceTypeReportFilter" />
  <xs:complexType name="CampaignPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:ReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfCampaignPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:CampaignPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughCampaignReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CampaignPerformanceReportRequest" nillable="true" type="tns:CampaignPerformanceReportRequest" />
  <xs:complexType name="ArrayOfCampaignPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CampaignPerformanceReportColumn" type="tns:CampaignPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCampaignPerformanceReportColumn" nillable="true" type="tns:ArrayOfCampaignPerformanceReportColumn" />
  <xs:simpleType name="CampaignPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="Status" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="LowQualityClicks" />
      <xs:enumeration value="LowQualityClicksPercent" />
      <xs:enumeration value="LowQualityImpressions" />
      <xs:enumeration value="LowQualityImpressionsPercent" />
      <xs:enumeration value="LowQualityConversions" />
      <xs:enumeration value="LowQualityConversionRate" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="DeviceType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CampaignPerformanceReportColumn" nillable="true" type="tns:CampaignPerformanceReportColumn" />
  <xs:complexType name="CampaignPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="tns:DeviceTypeReportFilter" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:CampaignStatusReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CampaignPerformanceReportFilter" nillable="true" type="tns:CampaignPerformanceReportFilter" />
  <xs:complexType name="AccountThroughCampaignReportScope">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AccountIds" nillable="true" type="q6:ArrayOfint" />
      <xs:element minOccurs="0" name="Campaigns" nillable="true" type="tns:ArrayOfCampaignReportScope" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountThroughCampaignReportScope" nillable="true" type="tns:AccountThroughCampaignReportScope" />
  <xs:complexType name="AdDynamicTextPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfAdDynamicTextPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:AdDynamicTextPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdDynamicTextPerformanceReportRequest" nillable="true" type="tns:AdDynamicTextPerformanceReportRequest" />
  <xs:complexType name="ArrayOfAdDynamicTextPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdDynamicTextPerformanceReportColumn" type="tns:AdDynamicTextPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdDynamicTextPerformanceReportColumn" nillable="true" type="tns:ArrayOfAdDynamicTextPerformanceReportColumn" />
  <xs:simpleType name="AdDynamicTextPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Keyword" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="AdTitle" />
      <xs:enumeration value="AdType" />
      <xs:enumeration value="DestinationUrl" />
      <xs:enumeration value="Param1" />
      <xs:enumeration value="Param2" />
      <xs:enumeration value="Param3" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdDynamicTextPerformanceReportColumn" nillable="true" type="tns:AdDynamicTextPerformanceReportColumn" />
  <xs:complexType name="AdDynamicTextPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="tns:AdTypeReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdDynamicTextPerformanceReportFilter" nillable="true" type="tns:AdDynamicTextPerformanceReportFilter" />
  <xs:complexType name="BehavioralTargetReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfBehavioralTargetReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:BehavioralTargetReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BehavioralTargetReportRequest" nillable="true" type="tns:BehavioralTargetReportRequest" />
  <xs:complexType name="ArrayOfBehavioralTargetReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BehavioralTargetReportColumn" type="tns:BehavioralTargetReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBehavioralTargetReportColumn" nillable="true" type="tns:ArrayOfBehavioralTargetReportColumn" />
  <xs:simpleType name="BehavioralTargetReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="BehavioralId" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BehavioralTargetReportColumn" nillable="true" type="tns:BehavioralTargetReportColumn" />
  <xs:complexType name="BehavioralTargetReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BehavioralIds" nillable="true" type="q7:ArrayOflong" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BehavioralTargetReportFilter" nillable="true" type="tns:BehavioralTargetReportFilter" />
  <xs:complexType name="AdPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfAdPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:AdPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdPerformanceReportRequest" nillable="true" type="tns:AdPerformanceReportRequest" />
  <xs:complexType name="ArrayOfAdPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdPerformanceReportColumn" type="tns:AdPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdPerformanceReportColumn" nillable="true" type="tns:ArrayOfAdPerformanceReportColumn" />
  <xs:simpleType name="AdPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="AdTitle" />
      <xs:enumeration value="AdDescription" />
      <xs:enumeration value="AdType" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
      <xs:enumeration value="DestinationUrl" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdPerformanceReportColumn" nillable="true" type="tns:AdPerformanceReportColumn" />
  <xs:complexType name="AdPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="tns:AdTypeReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdPerformanceReportFilter" nillable="true" type="tns:AdPerformanceReportFilter" />
  <xs:complexType name="KeywordPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:ReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfKeywordPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:KeywordPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeywordPerformanceReportRequest" nillable="true" type="tns:KeywordPerformanceReportRequest" />
  <xs:complexType name="ArrayOfKeywordPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeywordPerformanceReportColumn" type="tns:KeywordPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeywordPerformanceReportColumn" nillable="true" type="tns:ArrayOfKeywordPerformanceReportColumn" />
  <xs:simpleType name="KeywordPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Keyword" />
      <xs:enumeration value="KeywordId" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="AdType" />
      <xs:enumeration value="DestinationUrl" />
      <xs:enumeration value="CurrentMaxCpc" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="MatchType" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
      <xs:enumeration value="Cashback" />
      <xs:enumeration value="BiddedMatchType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="KeywordPerformanceReportColumn" nillable="true" type="tns:KeywordPerformanceReportColumn" />
  <xs:complexType name="KeywordPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="tns:AdTypeReportFilter" />
      <xs:element minOccurs="0" name="BiddedMatchType" nillable="true" type="tns:BiddedMatchTypeReportFilter" />
      <xs:element minOccurs="0" name="Cashback" nillable="true" type="tns:CashbackReportFilter" />
      <xs:element minOccurs="0" name="DeliveredMatchType" nillable="true" type="tns:DeliveredMatchTypeReportFilter" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keywords" nillable="true" type="q8:ArrayOfstring" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeywordPerformanceReportFilter" nillable="true" type="tns:KeywordPerformanceReportFilter" />
  <xs:simpleType name="BiddedMatchTypeReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Exact" />
          <xs:enumeration value="Phrase" />
          <xs:enumeration value="Broad" />
          <xs:enumeration value="Content" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="BiddedMatchTypeReportFilter" nillable="true" type="tns:BiddedMatchTypeReportFilter" />
  <xs:simpleType name="CashbackReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NotEnabled" />
          <xs:enumeration value="Enabled" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="CashbackReportFilter" nillable="true" type="tns:CashbackReportFilter" />
  <xs:complexType name="DestinationUrlPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfDestinationUrlPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:DestinationUrlPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DestinationUrlPerformanceReportRequest" nillable="true" type="tns:DestinationUrlPerformanceReportRequest" />
  <xs:complexType name="ArrayOfDestinationUrlPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DestinationUrlPerformanceReportColumn" type="tns:DestinationUrlPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDestinationUrlPerformanceReportColumn" nillable="true" type="tns:ArrayOfDestinationUrlPerformanceReportColumn" />
  <xs:simpleType name="DestinationUrlPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="DestinationUrl" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DestinationUrlPerformanceReportColumn" nillable="true" type="tns:DestinationUrlPerformanceReportColumn" />
  <xs:complexType name="DestinationUrlPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DestinationUrlPerformanceReportFilter" nillable="true" type="tns:DestinationUrlPerformanceReportFilter" />
  <xs:complexType name="AgeGenderDemographicReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfAgeGenderDemographicReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:AgeGenderDemographicReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgeGenderDemographicReportRequest" nillable="true" type="tns:AgeGenderDemographicReportRequest" />
  <xs:complexType name="ArrayOfAgeGenderDemographicReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgeGenderDemographicReportColumn" type="tns:AgeGenderDemographicReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgeGenderDemographicReportColumn" nillable="true" type="tns:ArrayOfAgeGenderDemographicReportColumn" />
  <xs:simpleType name="AgeGenderDemographicReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="AgeGroup" />
      <xs:enumeration value="Gender" />
      <xs:enumeration value="EstimatedImpressionPercent" />
      <xs:enumeration value="EstimatedClickPercent" />
      <xs:enumeration value="EstimatedCtr" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AgeGenderDemographicReportColumn" nillable="true" type="tns:AgeGenderDemographicReportColumn" />
  <xs:complexType name="AgeGenderDemographicReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgeGenderDemographicReportFilter" nillable="true" type="tns:AgeGenderDemographicReportFilter" />
  <xs:complexType name="GoalsAndFunnelsReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfGoalsAndFunnelsReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:GoalsAndFunnelsReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GoalsAndFunnelsReportRequest" nillable="true" type="tns:GoalsAndFunnelsReportRequest" />
  <xs:complexType name="ArrayOfGoalsAndFunnelsReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GoalsAndFunnelsReportColumn" type="tns:GoalsAndFunnelsReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGoalsAndFunnelsReportColumn" nillable="true" type="tns:ArrayOfGoalsAndFunnelsReportColumn" />
  <xs:simpleType name="GoalsAndFunnelsReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Keyword" />
      <xs:enumeration value="KeywordId" />
      <xs:enumeration value="Goal" />
      <xs:enumeration value="Step1Count" />
      <xs:enumeration value="Step2Count" />
      <xs:enumeration value="Step3Count" />
      <xs:enumeration value="Step4Count" />
      <xs:enumeration value="Step5Count" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="Assists" />
      <xs:enumeration value="FunnelConversionRate" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="Revenue" />
      <xs:enumeration value="ReturnOnAdSpend" />
      <xs:enumeration value="ExtendedCost" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GoalsAndFunnelsReportColumn" nillable="true" type="tns:GoalsAndFunnelsReportColumn" />
  <xs:complexType name="GoalsAndFunnelsReportFilter">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GoalIds" nillable="true" type="q9:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoalsAndFunnelsReportFilter" nillable="true" type="tns:GoalsAndFunnelsReportFilter" />
  <xs:complexType name="TacticChannelReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfTacticChannelReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:TacticChannelReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TacticChannelReportRequest" nillable="true" type="tns:TacticChannelReportRequest" />
  <xs:complexType name="ArrayOfTacticChannelReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TacticChannelReportColumn" type="tns:TacticChannelReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTacticChannelReportColumn" nillable="true" type="tns:ArrayOfTacticChannelReportColumn" />
  <xs:simpleType name="TacticChannelReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="Tactic" />
      <xs:enumeration value="Channel" />
      <xs:enumeration value="ThirdPartyCampaign" />
      <xs:enumeration value="ThirdPartyAdGroup" />
      <xs:enumeration value="ThirdPartyTerm" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Keyword" />
      <xs:enumeration value="KeywordId" />
      <xs:enumeration value="Goal" />
      <xs:enumeration value="Step1Count" />
      <xs:enumeration value="Step2Count" />
      <xs:enumeration value="Step3Count" />
      <xs:enumeration value="Step4Count" />
      <xs:enumeration value="Step5Count" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="Assists" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="FunnelConversionRate" />
      <xs:enumeration value="Revenue" />
      <xs:enumeration value="ReturnOnAdSpend" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TacticChannelReportColumn" nillable="true" type="tns:TacticChannelReportColumn" />
  <xs:complexType name="TacticChannelReportFilter">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChannelIds" nillable="true" type="q10:ArrayOflong" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TacticIds" nillable="true" type="q11:ArrayOflong" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ThirdPartyAdGroupIds" nillable="true" type="q12:ArrayOflong" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ThirdPartyCampaignIds" nillable="true" type="q13:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TacticChannelReportFilter" nillable="true" type="tns:TacticChannelReportFilter" />
  <xs:complexType name="BehavioralPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:ReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfBehavioralPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:BehavioralPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BehavioralPerformanceReportRequest" nillable="true" type="tns:BehavioralPerformanceReportRequest" />
  <xs:complexType name="ArrayOfBehavioralPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BehavioralPerformanceReportColumn" type="tns:BehavioralPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBehavioralPerformanceReportColumn" nillable="true" type="tns:ArrayOfBehavioralPerformanceReportColumn" />
  <xs:simpleType name="BehavioralPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="BehavioralId" />
      <xs:enumeration value="BehavioralName" />
      <xs:enumeration value="AdId" />
      <xs:enumeration value="DestinationUrl" />
      <xs:enumeration value="CurrentMaxCpc" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="MatchType" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AdType" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BehavioralPerformanceReportColumn" nillable="true" type="tns:BehavioralPerformanceReportColumn" />
  <xs:complexType name="BehavioralPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="AdType" nillable="true" type="tns:AdTypeReportFilter" />
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BehavioralIds" nillable="true" type="q14:ArrayOflong" />
      <xs:element minOccurs="0" name="DeliveredMatchType" nillable="true" type="tns:DeliveredMatchTypeReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BehavioralPerformanceReportFilter" nillable="true" type="tns:BehavioralPerformanceReportFilter" />
  <xs:complexType name="AdGroupPerformanceReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:ReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfAdGroupPerformanceReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:AdGroupPerformanceReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdGroupPerformanceReportRequest" nillable="true" type="tns:AdGroupPerformanceReportRequest" />
  <xs:complexType name="ArrayOfAdGroupPerformanceReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdGroupPerformanceReportColumn" type="tns:AdGroupPerformanceReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdGroupPerformanceReportColumn" nillable="true" type="tns:ArrayOfAdGroupPerformanceReportColumn" />
  <xs:simpleType name="AdGroupPerformanceReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="LanguageAndRegion" />
      <xs:enumeration value="Status" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="CurrencyCode" />
      <xs:enumeration value="AdDistribution" />
      <xs:enumeration value="Impressions" />
      <xs:enumeration value="Clicks" />
      <xs:enumeration value="Ctr" />
      <xs:enumeration value="AverageCpc" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="AveragePosition" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="ConversionRate" />
      <xs:enumeration value="CostPerConversion" />
      <xs:enumeration value="AverageCpm" />
      <xs:enumeration value="PricingModel" />
      <xs:enumeration value="DeviceType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdGroupPerformanceReportColumn" nillable="true" type="tns:AdGroupPerformanceReportColumn" />
  <xs:complexType name="AdGroupPerformanceReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdDistribution" nillable="true" type="tns:AdDistributionReportFilter" />
      <xs:element minOccurs="0" name="DeviceType" nillable="true" type="tns:DeviceTypeReportFilter" />
      <xs:element minOccurs="0" name="LanguageAndRegion" nillable="true" type="tns:LanguageAndRegionReportFilter" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:AdGroupStatusReportFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdGroupPerformanceReportFilter" nillable="true" type="tns:AdGroupPerformanceReportFilter" />
  <xs:simpleType name="AdGroupStatusReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Submitted" />
          <xs:enumeration value="Deleted" />
          <xs:enumeration value="Expired" />
          <xs:enumeration value="Draft" />
          <xs:enumeration value="Paused" />
          <xs:enumeration value="Active">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AdGroupStatusReportFilter" nillable="true" type="tns:AdGroupStatusReportFilter" />
  <xs:complexType name="TrafficSourcesReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfTrafficSourcesReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:TrafficSourcesReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TrafficSourcesReportRequest" nillable="true" type="tns:TrafficSourcesReportRequest" />
  <xs:complexType name="ArrayOfTrafficSourcesReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrafficSourcesReportColumn" type="tns:TrafficSourcesReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrafficSourcesReportColumn" nillable="true" type="tns:ArrayOfTrafficSourcesReportColumn" />
  <xs:simpleType name="TrafficSourcesReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="Source" />
      <xs:enumeration value="Goal" />
      <xs:enumeration value="Step1Count" />
      <xs:enumeration value="Step2Count" />
      <xs:enumeration value="Step3Count" />
      <xs:enumeration value="Step4Count" />
      <xs:enumeration value="Step5Count" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="Assists" />
      <xs:enumeration value="FunnelConversionRate" />
      <xs:enumeration value="Revenue" />
      <xs:enumeration value="RevenuePerConversion" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrafficSourcesReportColumn" nillable="true" type="tns:TrafficSourcesReportColumn" />
  <xs:complexType name="TrafficSourcesReportFilter">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GoalIds" nillable="true" type="q15:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrafficSourcesReportFilter" nillable="true" type="tns:TrafficSourcesReportFilter" />
  <xs:complexType name="SegmentationReportRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ReportRequest">
        <xs:sequence>
          <xs:element name="Aggregation" type="tns:NonHourlyReportAggregation" />
          <xs:element name="Columns" nillable="true" type="tns:ArrayOfSegmentationReportColumn" />
          <xs:element minOccurs="0" name="Filter" nillable="true" type="tns:SegmentationReportFilter" />
          <xs:element name="Scope" nillable="true" type="tns:AccountThroughAdGroupReportScope" />
          <xs:element name="Time" nillable="true" type="tns:ReportTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SegmentationReportRequest" nillable="true" type="tns:SegmentationReportRequest" />
  <xs:complexType name="ArrayOfSegmentationReportColumn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SegmentationReportColumn" type="tns:SegmentationReportColumn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegmentationReportColumn" nillable="true" type="tns:ArrayOfSegmentationReportColumn" />
  <xs:simpleType name="SegmentationReportColumn">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AccountName" />
      <xs:enumeration value="AccountNumber" />
      <xs:enumeration value="AccountId" />
      <xs:enumeration value="TimePeriod" />
      <xs:enumeration value="CampaignName" />
      <xs:enumeration value="CampaignId" />
      <xs:enumeration value="AdGroupName" />
      <xs:enumeration value="AdGroupId" />
      <xs:enumeration value="Keyword" />
      <xs:enumeration value="KeywordId" />
      <xs:enumeration value="Goal" />
      <xs:enumeration value="AgeGroup" />
      <xs:enumeration value="Gender" />
      <xs:enumeration value="Country" />
      <xs:enumeration value="State" />
      <xs:enumeration value="MetroArea" />
      <xs:enumeration value="Step1Count" />
      <xs:enumeration value="Step2Count" />
      <xs:enumeration value="Step3Count" />
      <xs:enumeration value="Step4Count" />
      <xs:enumeration value="Step5Count" />
      <xs:enumeration value="Conversions" />
      <xs:enumeration value="Assists" />
      <xs:enumeration value="Spend" />
      <xs:enumeration value="FunnelConversionRate" />
      <xs:enumeration value="Revenue" />
      <xs:enumeration value="ReturnOnAdSpend" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SegmentationReportColumn" nillable="true" type="tns:SegmentationReportColumn" />
  <xs:complexType name="SegmentationReportFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeGroup" nillable="true" type="tns:AgeGroupReportFilter" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryReportFilter" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="tns:GenderReportFilter" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GoalIds" nillable="true" type="q16:ArrayOflong" />
      <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Keywords" nillable="true" type="q17:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SegmentationReportFilter" nillable="true" type="tns:SegmentationReportFilter" />
  <xs:simpleType name="AgeGroupReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unknown" />
          <xs:enumeration value="Ages0to12" />
          <xs:enumeration value="Ages13to17" />
          <xs:enumeration value="Ages18to24" />
          <xs:enumeration value="Ages25to34" />
          <xs:enumeration value="Ages35to49" />
          <xs:enumeration value="Ages50to64" />
          <xs:enumeration value="Ages65plus" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="AgeGroupReportFilter" nillable="true" type="tns:AgeGroupReportFilter" />
  <xs:simpleType name="GenderReportFilter">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unknown" />
          <xs:enumeration value="Male" />
          <xs:enumeration value="Female" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="GenderReportFilter" nillable="true" type="tns:GenderReportFilter" />
  <xs:element name="ApplicationToken" nillable="true" type="xs:string" />
  <xs:element name="CustomerAccountId" nillable="true" type="xs:string" />
  <xs:element name="CustomerId" nillable="true" type="xs:string" />
  <xs:element name="DeveloperToken" nillable="true" type="xs:string" />
  <xs:element name="Password" nillable="true" type="xs:string" />
  <xs:element name="UserName" nillable="true" type="xs:string" />
  <xs:element name="SubmitGenerateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportRequestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrackingId" nillable="true" type="xs:string" />
  <xs:complexType name="ApiFaultDetail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="https://adapi.microsoft.com" base="q18:ApplicationFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="BatchErrors" nillable="true" type="tns:ArrayOfBatchError" />
          <xs:element minOccurs="0" name="OperationErrors" nillable="true" type="tns:ArrayOfOperationError" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApiFaultDetail" nillable="true" type="tns:ApiFaultDetail" />
  <xs:complexType name="ArrayOfBatchError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatchError" nillable="true" type="tns:BatchError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatchError" nillable="true" type="tns:ArrayOfBatchError" />
  <xs:complexType name="BatchError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchError" nillable="true" type="tns:BatchError" />
  <xs:complexType name="ArrayOfOperationError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationError" nillable="true" type="tns:OperationError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationError" nillable="true" type="tns:ArrayOfOperationError" />
  <xs:complexType name="OperationError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationError" nillable="true" type="tns:OperationError" />
  <xs:element name="PollGenerateReportRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportRequestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PollGenerateReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportRequestStatus" nillable="true" type="tns:ReportRequestStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReportRequestStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportDownloadUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ReportRequestStatusType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportRequestStatus" nillable="true" type="tns:ReportRequestStatus" />
  <xs:simpleType name="ReportRequestStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Pending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportRequestStatusType" nillable="true" type="tns:ReportRequestStatusType" />
</xs:schema>